*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}
body {
  width: 100%;
  overflow: hidden;
}
a {
  color: inherit;
}
main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgba(236, 41, 6, 0.397); */
  width: 100%;
}
